{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:nuxt/recommended", "plugin:prettier/recommended"],
  "rules": {
    "vue/component-tags-order": [
      "error",
      {
        "order": [["template", "script"], "style"]
      }
    ],
    "vue/no-multiple-template-root": "off",
    "vue/script-indent": ["error", 2, { "baseIndent": 1 }],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "no-console": "off"
    // "no-unused-vars": "warn",
    // "@typescript-eslint/no-unused-vars": "warn"
  },
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    }
  ]
}
